body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(70deg,#ff6a38,#fc8a15,#f6f6f6);
    font-family: 'Kanit', sans-serif;
}
fieldset{
    margin: auto;
    width: 31%;
    margin-top: 4rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 1.5rem;
    border-left: 2rem solid rgb(255, 166, 0); 
}
legend{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.7rem;
    border-radius: 10px;
    color:black;
}
hr{
    margin: auto;
    width: 50%;
    margin-top: 2rem;
}
#squares-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#squares-layer {
    position: relative;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 500px;
    border: none;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}
#numbox{
    font-size: 1rem;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    padding-left: 1rem;
    border:0.10rem solid #aaaaaa;
}
#timerClock{
    margin-left: 1rem;
}
#start{
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}
#color{
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}
.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}
.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}
.green{
    background-color: green; 
}
.back_container{
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.btn_back{
    display: inline-block;
}
.btn_back a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    background-color:rgba(0, 0, 0, 0.3);
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    transition: 0.4s;
}
.btn_back a:hover{
    background-color: #ff7315;
    color: white;
    transition: 0.4s;
    box-shadow: 5px 5px 2px #222831;
}
@media only screen and (max-width:768px){
    fieldset{
        margin: auto;
        width: 71%;
        margin-top: 4rem;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
        padding-bottom: 1.5rem;
        border-left: 2rem solid rgb(255, 166, 0); 
    }
    hr{
        margin: auto;
        width: 80%;
        margin-top: 2rem;
    }
    #squares-layer {
        position: relative;
        border-radius: 10px;
        background-color: white;
        width: 400px;
        height: 400px;
        border: none;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    }
    .square {
        position: absolute;
        width: 15px;
        height: 15px;
        border: 2px solid black;
    }
}
@media only screen and (max-width:500px){
    fieldset{
        margin: auto;
        width: 71%;
        margin-top: 4rem;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
        padding-bottom: 1.5rem;
        border-left: 2rem solid rgb(255, 166, 0); 
    }
    hr{
        margin: auto;
        width: 80%;
        margin-top: 2rem;
    }
    #squares-layer {
        position: relative;
        border-radius: 10px;
        background-color: white;
        width: 400px;
        height: 400px;
        border: none;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    }
    .square {
        position: absolute;
        width: 15px;
        height: 15px;
        border: 2px solid black;
    }
}

